<style>
  .container {
    width: 50rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .answer {
    width: 21.875rem;
    display: flex;
    justify-content: space-between;
  }

  .value {
    margin: 1px;
    padding: 10px;
    background: #8257e3;
    color: #fff;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    width: 21.875rem;
  }
</style>

<div class="container">
  <label
    >Hello <strong>{{ name }}</strong
    >! how are you?</label
  >

  <h3>{{ title }}</h3>
  <br />
  <p>
    <strong>{{ description }}</strong>
  </p>

  <div class="level">
    <span>Unlikely</span>
    <span>Very likely</span>
  </div>

  <div class="answer">
    <a href="{{link}}/1?u={{user_id}}" class="value">1</a>
    <a href="{{link}}/2?u={{user_id}}" class="value">2</a>
    <a href="{{link}}/3?u={{user_id}}" class="value">3</a>
    <a href="{{link}}/4?u={{user_id}}" class="value">4</a>
    <a href="{{link}}/5?u={{user_id}}" class="value">5</a>
    <a href="{{link}}/6?u={{user_id}}" class="value">6</a>
    <a href="{{link}}/7?u={{user_id}}" class="value">7</a>
    <a href="{{link}}/8?u={{user_id}}" class="value">8</a>
    <a href="{{link}}/9?u={{user_id}}" class="value">9</a>
    <a href="{{link}}/10?u={{user_id}}" class="value">10</a>
  </div>

  <br />
  <br />

  <span> 
    Your opinion is
    <strong> very </strong>
    important to us!
  </span>
</div>
